{
  "options": {
    "threshold": 100,
    "persistResult": true,
    "datasource": {
      "database": "ghtorrent",
      "user": "",
      "password": "",
      "host": ""
    },
    "githubTokens": []
  },
  "attributes": [
    {
      "name": "architecture",
      "dependencies": [
        "ctags"
      ],
      "enabled": true,
      "weight": 50,
      "options": {
        "threshold": 1.0
      }
    },
    {
      "name": "community",
      "enabled": true,
      "weight": 50,
      "options": {
      }
    },
    {
      "name": "continuous_integration",
      "enabled": true,
      "weight": 50,
      "options": {
      }
    },
    {
      "name": "documentation",
      "enabled": true,
      "weight": 50,
      "options": {
          "threshold": 0.2
      }
    },
    {
      "name": "history",
      "enabled": true,
      "weight": 50,
      "options": {
      }
    },
    {
      "name": "license",
      "essential": true,
      "enabled": true,
      "weight": 50
    },
    {
      "name": "management",
      "enabled": true,
      "weight": 50,
      "options": {
          "threshold": 1.0
      }
    },
    {
      "name": "unit_test",
      "dependencies": [
        "cloc"
      ],
      "enabled": true,
      "weight": 50,
      "options": {
      }
    }
  ]
}
