{
  "options": {
    "threshold": 100,
    "persistResult": true,
    "datasource": {
      "database": "ghtorrent",
      "user": "",
      "password": "",
      "host": ""
    },
    "githubTokens": []
  },
  "attributes": [
    {
      "name": "architecture",
      "key": "a",
      "dependencies": [
        "ctags"
      ],
      "enabled": true,
      "weight": 50,
      "options": {
        "connectedness": 0.75,
        "minimumSize": 1000
      }
    },
    {
      "name": "community",
      "key": "c",
      "enabled": true,
      "weight": 50,
      "options": {
      "threshold1": 5.0,
      "threshold2": 1.0
      }
    },
    {
      "name": "continuous_integration",
      "key": "i",
      "enabled": true,
      "weight": 50,
      "options": {
      }
    },
    {
      "name": "documentation",
      "key": "d",
      "enabled": true,
      "weight": 50,
      "options": {
          "threshold": 0.2
      }
    },
    {
      "name": "history",
      "key": "h",
      "enabled": true,
      "weight": 50,
      "options": {
        "threshold": 2.0,
        "minimumWeeks": 1
      }
    },
    {
      "name": "license",
      "key": "l",
      "essential": true,
      "enabled": true,
      "weight": 50
    },
    {
      "name": "management",
      "key": "m",
      "enabled": true,
      "weight": 50,
      "options": {
          "threshold": 1.0
      }
    },
    {
      "name": "unit_test",
      "key": "u",
      "dependencies": [
        "cloc"
      ],
      "enabled": true,
      "weight": 50,
      "options": {
        "threshold": 0.16
      }
    }
  ]
}
